body{
    margin:0;
}

.main{
    background-color: #fff;
    margin-left: 366px;
    margin-right: 366px;
}
.title {
    background: url(../assets/photos/title-background.jpg) top center no-repeat;
    background-size: cover;
    margin: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.title-image {
    box-shadow: 2px;
    margin-top: 30px;
    margin-left: 366px;
    margin-bottom: 30px;
    width: 100px;
}

.title-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    margin-left: 20px;
    column-gap: 5px;
}

.title-text .heading {
    font-size: 50px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0px;
    color: white;
    font-family: "Noticia Text", serif;
}

.title-text .subheading {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    color: white;
    font-family: "Noticia Text", serif;
}

.navbar {
    position: relative;
    bottom: 30px;
    margin-top: 15px;
}

.navbar ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #3b3a3a;
    border-bottom: 1px solid #252525;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.navbar li {
    box-sizing: border-box;
    font: 1em/4 'Cutive', serif;
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0px 10px;
    text-align: center;
    border-right: #a89c9c;
}

.navbar ul li::after {
    content: '';
    position: relative;
    left: 15px;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #f1eded;
    height: 50px;
}

.content {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding:10px;
    background-color: #fff;
}

.tabs {
    width: max-content;
    flex-grow: 4;
    margin-right: 20px;
}

.sidebar {
    width: 250%;
    margin-left: 0;
    flex-grow: 1;
}
.footer{
    color:#fff;
    background-color: #3b3a3a;
}

.developer{
    font-style:italic;
    font-weight: 100;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}
